user-agent, com.google.ios.youtube*, proxy
user-agent, YouTube*, proxy
host-suffix, googlevideo.com, proxy
host-suffix, withyoutube.com, proxy
host-suffix, youtu.be, proxy
host-suffix, youtube.com, proxy
host-suffix, youtubeeducation.com, proxy
host-suffix, youtubegaming.com, proxy
host-suffix, youtubekids.com, proxy
host-suffix, youtube-nocookie.com, proxy
host-suffix, yt.be, proxy
host-suffix, ytimg.com, proxy
host, youtubei.googleapis.com, proxy
host, yt3.ggpht.com, proxy
